@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sriracha&display=swap');

:root {
--nav-font-color:  #f2f2f2e5;
--nav-font-type: 'Sriracha', cursive;
}

* {
    box-sizing: border-box;
  }

body{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    background-image: url(images/moroccan.png);
    background-size: cover;
    background-color: rgb(84, 192, 241);
    align-items: center;
    justify-content: center;
    margin: 0;
}
header{
    grid-column: span 5;
    grid-row: 1;
}
nav{
    grid-column: span 5;
    grid-row: 2;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: var(--nav-font-color);
    text-align: center;
    justify-content: center;
    padding: 5px 0;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-family: var(--nav-font-type);
    text-align: center;
    padding: 10px 5px;    
}

.selectButton{
    font-family: var(--nav-font-type);
    justify-content: space-around;
    text-align: center;
    color: var(--nav-font-color);  
}

.tussen1{
    grid-row: 3;   
}

.maincontent{ 
    grid-column:3;
    grid-row: 4; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(84, 192, 241, 0.9);
    width: 400px; 
    padding: 10px;   
}

.logodisplay{
    grid-column:3;
    grid-row: 5;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(84, 192, 241, 0.9);
    width: 400px; 
    padding: 10px;
    
    align-content: center;
}