.dbblok
{
position: absolute;
left: 300px;
top: 150px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;

}

.dbblok2
{
position: absolute;
left: 500px;
top: 150px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;
}
.dbblok3
{
position: absolute;
left: 700px;
top: 150px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;
}
.dbblok4
{
position: absolute;
left: 300px;
top: 425px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;
}
.tussenblok1
{
position: absolute;
left: 300px;
top: 367px; 
width: 950px;
background-color: #00FA9A;
Padding-left: 10px;
Color: #2F4F4F;
}
.hoofdblok
{
position: absolute;
left: 300px;
top: 25px; 
width: 750px;
background-color: #00FA9A;
Padding-left: 10px;
Color: #2F4F4F;
}

.hoofdblok2
{
position: absolute;
left: 500px;
top: 25px; 
width: 550px;
background-color: #00FA9A;
Padding-left: 10px;
Color: #2F4F4F;
}

.dbblok5
{
position: absolute;
left: 500px;
top: 425px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;
}

.dbblok6
{
position: absolute;
left: 700px;
top: 425px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;
}

.dbblok7
{
position: absolute;
left: 900px;
top: 425px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;
}

.dbblok8
{
position: absolute;
left: 1100px;
top: 425px;
background-color: #FFDEAD;
width: 150px;
Padding-left: 10px;
Color: #dc143C;
}