.btn-text {
  &:link,
  &:visited {
    border-radius: 0.5rem;
    text-decoration: none;
    color: $color-brown;
    font-size: $default-font-size;
    display: inline-block;
    border-bottom: 0.1rem solid $color-brown;
    transition: all 0.2s;
    padding: 0.3rem 1rem;
  }

  &:hover {
    background-color: $color-brown;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
    transform: translateY(-0.2rem);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black, 0.5);
    transform: translateY(0);
  }
}
