.composition {
  position: relative;

  &__photo {
    width: 40%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 3.5rem;
    }

    &--p3 {
      left: 25%;
      top: 10rem;
    }

    &--p4 {
      left: 45%;
      top: 0;
    }

    &--p5 {
      left: 0;
      top: 20rem;
    }
    &--p6 {
      right: 0;
      top: 23rem;
    }
    &--p7 {
      left: 25%;
      top: 30rem;
    }
    &:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
}
