/*
0 - 600 px      phone
600 - 900px     tablet - portrait
600 - 1200px    tablet - landscape
1200 - 1800px   is the normal CSS
1800 px +>      big screen

$breakpoint argument keuze:
phone
tab-port
big-desktop

order:
base + typography
general layout en grid
page layout en components
1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  padding: 1rem;
  font-family: "Cinzel", serif; }

.heading-primary {
  color: #241b20;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 40rem;
    letter-spacing: 3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 70rem;
    letter-spacing: 0.95rem; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.9rem;
  background-image: linear-gradient(to right, #a07857, #bd5a37);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.4rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph__textbox {
  font-size: 1.4rem;
  padding-bottom: 2rem; }

.contact a {
  text-decoration: none; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn-text:link, .btn-text:visited {
  border-radius: 0.5rem;
  text-decoration: none;
  color: #bd5a37;
  font-size: 1.6rem;
  display: inline-block;
  border-bottom: 0.1rem solid #bd5a37;
  transition: all 0.2s;
  padding: 0.3rem 1rem; }

.btn-text:hover {
  background-color: #bd5a37;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 40%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 3.5rem; }
    .composition__photo--p3 {
      left: 25%;
      top: 12rem; }
    .composition__photo--p4 {
      left: 45%;
      top: 0; }
    .composition__photo--p5 {
      left: 0;
      top: 15rem; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.textbox {
  position: relative;
  width: 50%;
  padding-top: 1rem;
  padding-left: 1rem; }
  .textbox__img {
    width: 35%;
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 2rem; }
  .textbox__header {
    display: inline-block;
    position: absolute;
    top: 3rem;
    right: 3rem; }

.footer {
  background-image: linear-gradient(to right bottom, rgba(220, 198, 141, 0.6), rgba(189, 90, 55, 0.6));
  font-size: 1.3rem;
  clip-path: polygon(0% 0%, 95% 0%, 97% 50%, 95% 100%, 0% 100%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.section__projects-grid {
  width: 90rem;
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 10rem repeat(2, 25rem);
  grid-gap: 0.7rem; }
  .section__projects-grid-header {
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center; }
  .section__projects-grid-explain {
    grid-column: 1 / span 2; }
  .section__projects-grid-project1 {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/code.jpg);
    background-size: cover;
    border-radius: 0.3rem; }

.footer__grid {
  width: 100rem;
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10rem 5rem; }
  .footer__grid-header1 {
    align-self: center; }
  .footer__grid-header2 {
    align-self: center; }

.header {
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(220, 198, 141, 0.6), rgba(189, 90, 55, 0.6)), url("../img/dawn.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section__introduction {
  margin-top: 8rem; }

.section__projects {
  margin-top: 8rem;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(220, 198, 141, 0.9), rgba(189, 90, 55, 0.9)), url("../img/wolken.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 7% 50%, 0 0); }
